<mat-form-field
  color="accent"
  class="translate-input"
  (click)="word.value = ''"
>
  <mat-label>Search Dictionary</mat-label>
  <input
    matInput
    spellcheck="true"
    (keyup.enter)="translate(word.value)"
    #word
  />
  <mat-hint *ngIf="loading">Searching...</mat-hint>
</mat-form-field>

<mat-accordion>
  <mat-expansion-panel
    *ngFor="let group of groupByWordAndPart(); trackBy: trackWordGroup"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>{{ group[0].word }}</mat-panel-title>
      <mat-panel-description>{{ group[0].part }}</mat-panel-description>
    </mat-expansion-panel-header>
    <result
      *ngFor="let result of group"
      [result]="result"
      (addToGlossaryEvent)="addToGlossary($event)"
    ></result>
  </mat-expansion-panel>
</mat-accordion>
