<mat-card>
  <mat-card-header>
    <mat-card-title>{{ entry.title }}</mat-card-title>
    <mat-card-subtitle>
      {{ getCreateDate() | date : "EEEE, MMM d, y" }} at
      {{ getCreateDate() | date : "h:mm a" }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div *ngFor="let paragraph of splitBodyByNewlines()">
      {{ paragraph }}<br />
    </div>

    <h3 *ngIf="entry.glossary.length > 0">Glossary</h3>
    <mat-chip-set>
      <mat-chip
        *ngFor="let word of entry.glossary; index as glossaryIndex"
        (click)="clickedWord(glossaryIndex)"
        matTooltip="({{ word.context }}) {{ word.meaning }}"
      >
        {{ word.word }}
      </mat-chip>
    </mat-chip-set>
  </mat-card-content>
</mat-card>
