<form [formGroup]="entryForm">
  <mat-form-field class="title-input">
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput />
  </mat-form-field>
  <mat-form-field class="body-input">
    <mat-label>Body</mat-label>
    <textarea
      formControlName="body"
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="7"
      spellcheck="true"
    ></textarea>
  </mat-form-field>
</form>
<div class="post-buttons">
  <button mat-raised-button (click)="postEntry()">Post</button>
</div>
