<form [formGroup]="postForm">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Body</mat-label>
    <textarea formControlName="body" matInput spellcheck="true"></textarea>
  </mat-form-field>
</form>
<button mat-raised-button (click)="submitPost()">Submit</button>

<h2>Previous Posts:</h2>
<div *ngIf="posts">
  <div *ngFor="let post of posts">
    <p>Title: {{ post.title }}</p>
    <p>{{ post.body }}</p>
  </div>
</div>
