.header {
  display: block;
  text-align: center;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 15px;
}

// If removed, also remove class in div elements
// .left {
//   background: blue;
// }

// .middle {
//   background: yellowgreen;
// }

// .right {
//   background: blueviolet;
// }

.previous-entries-header {
  text-align: center;
}

.entry {
  margin: 15px;
}

.dictionary {
  margin-right: 15px;
}
