.title {
  text-align: center;
  margin: 7px 0 15px 0;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 15px;
}

.left-column {
  margin-left: 15px;
}

.header {
  text-align: center;
  margin: 15px 0 15px 0;
}

.entry {
  margin-bottom: 15px;
}

.dictionary {
  margin-right: 15px;
}
