<h1 class="mat-headline-2 title">Spanish Journal</h1>
<div class="columns">
  <div class="left-column">
    <helpful-links />
    <conjugator />
  </div>

  <div class="middle">
    <new-entry
      [newGlossaryWord]="newGlossaryWord"
      (refreshEntriesEvent)="getEntries()"
    />

    <h2 class="mat-headline-4 header">Previous Entries:</h2>
    <div *ngFor="let entry of entries" class="entry">
      <entry [entry]="entry" />
    </div>
  </div>

  <dictionary
    class="dictionary"
    (addToGlossaryEvent)="this.newGlossaryWord = $event"
  />
</div>
<router-outlet></router-outlet>
