<mat-card>
  <form [formGroup]="entryForm">
    <mat-card-header>
      <mat-card-title>
        <mat-form-field class="title-input">
          <mat-label>New Entry Title</mat-label>
          <input formControlName="title" matInput />
        </mat-form-field>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field class="body-input">
        <mat-label>Body</mat-label>
        <textarea
          formControlName="body"
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="7"
          spellcheck="true"
        ></textarea>
      </mat-form-field>

      <h3 *ngIf="glossary.length > 0; else glossaryHelp">Glossary</h3>
      <ng-template #glossaryHelp>
        <h3>Use the dictionary to add words to the glossary</h3>
      </ng-template>

      <mat-chip-set>
        <mat-chip
          *ngFor="let word of glossary; index as glossaryIndex"
          (removed)="removeWord(glossaryIndex)"
          (click)="clickedWord(glossaryIndex)"
          matTooltip="({{ word.context }}) {{ word.meaning }}"
        >
          {{ word.word }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-set>
    </mat-card-content>
  </form>

  <mat-card-actions align="end">
    <div class="post-buttons">
      <button mat-raised-button color="primary" (click)="postEntry()">
        Post
      </button>
    </div>
  </mat-card-actions>
</mat-card>
