.card-header {
  display: block;
}

.title-input {
  width: 40%;
}

.body-input {
  width: 100%;
}

.glossary-header {
  margin: 0;
}

.post-buttons {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}
