@use "sass:map";
@use "@angular/material" as mat;

$basic: mat.define-palette(mat.$grey-palette);
$primary: mat.define-palette(mat.$blue-grey-palette);
$accent: mat.define-palette(mat.$pink-palette);
$warn: mat.define-palette(mat.$red-palette);

@mixin basic($hue: 500) {
  background-color: mat.get-color-from-palette($basic, $hue);
  color: mat.get-color-from-palette($basic, "#{$hue}-contrast");
}

@mixin primary($hue: 500) {
  background-color: mat.get-color-from-palette($primary, $hue);
  color: mat.get-color-from-palette($primary, "#{$hue}-contrast");
}

@mixin accent($hue: 500) {
  background-color: mat.get-color-from-palette($accent, $hue);
  color: mat.get-color-from-palette($accent, "#{$hue}-contrast");
}

@mixin warn($hue: 500) {
  background-color: mat.get-color-from-palette($warn, $hue);
  color: mat.get-color-from-palette($warn, "#{$hue}-contrast");
}
