@use "sass:map";
@use "@angular/material" as mat;

/* Palettes */
$deep-orange: mat.define-palette(mat.$deep-orange-palette, 500);
$green: mat.define-palette(mat.$green-palette, 600);

/* Typography */
$main-typography: mat.define-typography-config();

/* Themes */
$Main: mat.define-dark-theme(
  (
    color: (
      primary: $deep-orange,
      accent: $green,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

/* Custom themes (palette mixins) */
